<footer class="bg-black ph3 pv4 white">

	<div class="mw7 center pt3">

		<div class="measure-narrow center mb4">
<img src="/img/logof.png" class="br0 db mb0 w-100" alt="AquaFlow Investment Logo"
/>

		</div>


		<div class="flex-ns justify-between">

			<div>

				<ul class="mb3">
				    <li>				<h3 class="f4 b lh-title mb1 primary">Site</h3></li>
					<li><a href="https://wtcs.ml" class="link">Home</a></li>
					<li><a href="https://wtcs.ml/products" class="link">Our products</a></li>
					<li><a href="https://wtcs.ml/values" class="link">About Us</a></li>
					<li><a href="/post" class="link">Offers</a></li>
					<li><a href="https://wtcs.ml/contact" class="link">Contact</a></li>
				</ul>
			</div>

			<div>
				<h3 class="f4 b lh-title mb1 primary">Find out more</h3>
				<ul class="mb3">
					<li><a href="https://wtcs.ml/post/jamaica-blue/" class="link">Latest offers</a></li>
					<li><a href="https://wtcs.ml/contact" class="link">Schedule and appointment</a></li>
				</ul>
			</div>

			<div>
				<h3 class="f4 b lh-title mb2 primary">Social media</h3>
				<ul class="mhn2">
					{{ partial "social-icon" (dict "link" "#" "svg" "icons-facebook") }}
					{{ partial "social-icon" (dict "link" "#" "svg" "icons-twitter") }}
					{{ partial "social-icon" (dict "link" "#" "svg" "icons-instagram") }}
					{{ partial "social-icon" (dict "link" "#" "svg" "icons-vimeo") }}
				</ul>
			</div>

		</div>
	</div>
	
<p class="mw7 center pt3 "style="text-align:center; font-size:15px; color:#ffffff; margin-top:23px">WTC Website by <a href="https://www.timidlly.com/" style="text-decoration:none; color:#FF5733">Timidlly</a></p>
</footer>

{{ partial "svg" . }}

<script src="/app.js"></script>
